<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
<div class="container">
	<button class="btn" type="Submit" onclick= "openPopup()"> Submit</button>
	<div class="popup" id="popup">
		<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp">
		<h2>Thank You!</h2>
		<p>Your detail have been submited successfully Thanks You!</p>
		<button type="button" onclick="closePopup()">ok</button>
	</div>
</div>


<script>
	let popup = document.getElementById("popup");
	function openPopup() {
		popup.classList.add("open-popup");
	 	
	 } 
	function closePopup() {
		popup.classList.remove("open-popup");
	 } 
</script>
</body>
</html>